@media only screen and (min-width: 360px) and (max-width: 501px) and (orientation: portrait) {
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }
    .container {
        max-width: 90%;
        padding: 0 20px;
        margin: 5px auto;
        background-color: #a6caf0;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 2px solid #333;
    }
    h1 {
        font-size: 25px;
        padding: 5px 10px;
        color: #333;
        margin: 5px 0;
        background-color: #d7e4f2;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        border: 1px solid blue;
        border-radius: 5px;
    }

    h2 {
        display: none;
    }

    .qrGenerado {
        display: grid;
    }

    form {
        /* margin: 5px 0; */
        /* margin-bottom: 5px; */
        padding: 5px;
        border: 1px solid blue;
        display: grid;
        /* margin: 5px 0; */
        margin-bottom: 5px;
        /* padding: 10px; */
        background-color: #d7e4f2;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        border: 1px solid blue;
    }

    .qr-code {
        margin-bottom: 5px;
        display: grid;
        background-color: #d7e4f2;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        border: 1px solid blue;    
        height: 100px;
    }

    label {
        margin: 0;
        font-size: 1rem;
        color: #555;
        display: block;
        /* margin-top: 15px; */
        text-align: left;
    }

    input {
        padding: 10px 5px;
        /* padding: 10px; */
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-button {
        /* display: inline-block; */
        /* background-image: url('Imagenes/upload.webp'); */
        /* background: #333333eb url('Imagenes/upload.webp') no-repeat center/cover; */
        background: transparent url('Imagenes/upload.webp') no-repeat center/cover;
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* background-color: #007BFF; */
        border-radius: 25%;
        padding: 0;
        /* width: 30px; */
        width: 10%;
        height: 30px;
        color: transparent;
        overflow: hidden;
        margin: auto;
        font-size: 16px;
        /* flex: 1; */
    }

    .file-name {
        margin-left: 5px;
        font-size: 14px;
        color: #333;
        width: 90%;
        /* flex: 9; */
    }
    .uploadFile {
        display: flex;
    }

    button {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #downloadButton {
        margin-top: 10px;
        display: none;
        background-color: #28a745;
    }
    #downloadButton:hover {
        background-color: #218838;
    }

    canvas {
        margin: 5px 0;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        max-width: 90%;
        height: 70px;
        padding: 5px 20px;
        margin: 5px auto;
        text-align: center;
        background-color: #a6caf0;
        border: 2px solid #333;
        color: #333;
        border-radius: 5px;
    }
    .taylor {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 10px 0;
        gap: 70%;
        z-index: 1;
        left: 0;
    }
    .taylor img {
        position: relative;
        opacity: 0.8;
        height: 50px;
    }
    footer p {
        width: 100%;
        /* padding: 10px 10px 0 10px; */
        padding: 0;
        margin: auto;
        /* padding: 10px; */
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .ImgSocial {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50px;
        top: 20px;  
        align-items: center;
        position: relative;
        z-index: 2;      
    }
    .ImgSocial a {
        position: relative;
        height: 40px;
    }
    .ImgSocial img {
        padding: 0 5px;
        /* padding: 5px; */
        width: 30px;
        height: 30px;
        /* top: 30px; */
        /* bottom: 0; */
        position: relative;
        border-radius: 50%;
    }
}